<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img src='{{ site.baseurl }}/assets/images/logo.svg' alt='Rua Dois'/>
      <p class="lead">{{ site.description }}</p>
    </div>

    <!-- <nav class="sidebar&#45;nav"> -->
    <!--   <a class="sidebar&#45;nav&#45;item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a> -->
    <!--  -->
    <!--   {% comment %} -->
    <!--     The code below dynamically generates a sidebar nav of pages with -->
    <!--     `layout: page` in the front&#45;matter. See readme for usage. -->
    <!--   {% endcomment %} -->
    <!--  -->
    <!--   {% assign pages_list = site.pages %} -->
    <!--   {% for node in pages_list %} -->
    <!--     {% if node.title != null %} -->
    <!--       {% if node.layout == "page" %} -->
    <!--         <a class="sidebar&#45;nav&#45;item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a> -->
    <!--       {% endif %} -->
    <!--     {% endif %} -->
    <!--   {% endfor %} -->
    <!--  -->
    <!--   <a class="sidebar&#45;nav&#45;item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a> -->
    <!--   <a class="sidebar&#45;nav&#45;item" href="{{ site.github.repo }}">GitHub project</a> -->
    <!--   <span class="sidebar&#45;nav&#45;item">Currently v{{ site.version }}</span> -->
    <!-- </nav> -->

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
