<!DOCTYPE html>
<html lang="pt-br">

  {% include head.html %}

  <body class="theme-base-r2">

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>

  </body>
</html>
